# these dependencies are used on the main code. These
# are obligatory dependencies if you want to run
# the Python distribution:
cx_Freeze==6.8
pillow==8.3.2
colorama==0.4.4

# we need DiddiParser on the
# GitHub workflow. We'll try to
# use the latest version as we can.
diddiparser==1.1
